name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        echo "Iniciando login"
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
        echo "Finalizando login"

    - name: Build docker image
      run: |
        docker build -t fernandombc/dockerapi-private:0.0.1 .
        docker build -t fernandombc/dockerapi-private .
        
    - name: Push docker image
      run: |
        docker push fernandombc/dockerapi-private:0.0.1
        docker push fernandombc/dockerapi-private
        
          
#    - uses: actions/checkout@v4
#   - name: Build the Docker image
#     run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
